##Network analysis : Data Volume Roaming information
##
## roamingobject : one of {MCC, MCC_MNC} 
##
## Description: 
## 
##     Get the roaming statistics for each roaming country or roaming operator   
## 
##=============================================================================
#DEFINE_CONSTANTS()
#set($tpUnit = 1048576)
#set($secUnit=1000)
#if($useAggregationTables)
#set($dtTables=$techPackTables.getTechPacks().get(0).getDtTables())
#set($dtRawTables=$techPackTables.getTechPacks().get(1).getDtTables())
#else
#foreach($techPack in $techPackTables.getTechPacks())
    #set($dtTables=$techPack.getDtTables())
#end
#end
#if($useAggregationTables)
    #set($ImsiMCC="MCC")
#else
    #set($ImsiMCC="IMSI_MCC")
#end
#if($useAggregationTables)
    #set($ImsiMNC="MNC")
#else
    #set($ImsiMNC="IMSI_MNC")
#end
#set($dtRawSelectColumns = ["IMSI_MCC", "IMSI_MNC", "IMSI","DATAVOL_DL", "DATAVOL_UL", "DURATION","ROAMING", "DATETIME_ID", "PDNID_GGSNIP"]) 

select    
    #if(${roamingobject} == $ApplicationConstants.TYPE_ROAMING_COUNTRY)
        COUNTRY,
    #elseif(${roamingobject} == $ApplicationConstants.TYPE_ROAMING_OPERATOR)
        OPERATOR,
    #end
    convert(numeric(16,2), SUM(convert(numeric(16,2), DATAVOL_DL)/$tpUnit)) as DOWNLINK,
    convert(numeric(16,2), SUM(convert(numeric(16,2), DATAVOL_UL)/$tpUnit)) as UPLINK,
    #if($useAggregationTables)
    (convert(numeric(16,2),(convert(numeric(16,2), SUM(DATAVOL_DL))/$tpUnit*8/(convert(numeric(16,2),SUM(DURATION)))))) as THROUGHPUT_DL,
    (convert(numeric(16,2),(convert(numeric(16,2), SUM(DATAVOL_UL))/$tpUnit*8/(convert(numeric(16,2),SUM(DURATION)))))) as THROUGHPUT_UL,
    max(NO_OF_SUBSCRIBER) as NO_OF_SUBSCRIBER,
    max(NO_OF_SESSION) as NO_OF_SESSION
    #else
    (convert(numeric(16,2),(convert(numeric(16,2), SUM(DATAVOL_DL))/$tpUnit*8/(convert(numeric(16,2),SUM(DURATION))/$secUnit)))) as THROUGHPUT_DL,
    (convert(numeric(16,2),(convert(numeric(16,2), SUM(DATAVOL_UL))/$tpUnit*8/(convert(numeric(16,2),SUM(DURATION))/$secUnit)))) as THROUGHPUT_UL,
    count (distinct(IMSI)) as NO_OF_SUBSCRIBER,
    count(distinct PDNID_GGSNIP) as NO_OF_SESSION
    #end
from
#if($useAggregationTables)
(select
    #if(${roamingobject} == $ApplicationConstants.TYPE_ROAMING_COUNTRY)
        IMSI_MCC,
    #elseif(${roamingobject} == $ApplicationConstants.TYPE_ROAMING_OPERATOR)
        IMSI_MNC,
    #end
    count (distinct(IMSI)) as NO_OF_SUBSCRIBER,
    count(distinct PDNID_GGSNIP) as NO_OF_SESSION
from
    #REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_SPECIFY_COLUMNS($dtRawTables "temp_dt3" $dtRawSelectColumns)  
    where
    ROAMING = 1
    AND #GET_DATETIME_RANGE()

group by
    #if(${roamingobject} == $ApplicationConstants.TYPE_ROAMING_COUNTRY)
        IMSI_MCC
    #elseif(${roamingobject} == $ApplicationConstants.TYPE_ROAMING_OPERATOR)
        IMSI_MNC
    #end ) temp_dt2
 
  RIGHT OUTER JOIN
  (select MCC, MNC, DATAVOL_DL, DATAVOL_UL, DURATION, ROAMING, DATETIME_ID
  from
  $dtTables 
  where
  #GET_DATETIME_RANGE()
   )temp_dt
  
 ON
#if(${roamingobject} == $ApplicationConstants.TYPE_ROAMING_COUNTRY)
        temp_dt.MCC = temp_dt2.IMSI_MCC
#elseif(${roamingobject} == $ApplicationConstants.TYPE_ROAMING_OPERATOR)
        temp_dt.MNC = temp_dt2.IMSI_MNC 
#end
                        
#else
#REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_SPECIFY_COLUMNS($dtTables "temp_dt3" $dtRawSelectColumns)
#end
     inner join
    DIM_E_SGEH_MCCMNC
    on 
#if($useAggregationTables)
   (DIM_E_SGEH_MCCMNC.MCC = temp_dt.MCC AND DIM_E_SGEH_MCCMNC.MNC = temp_dt.MNC)
#else
   (DIM_E_SGEH_MCCMNC.MCC = temp_dt3.IMSI_MCC AND DIM_E_SGEH_MCCMNC.MNC = temp_dt3.IMSI_MNC)
#end

where
#if($useAggregationTables)
    temp_dt.ROAMING = 1
#else
    temp_dt3.ROAMING = 1
#end
    AND #GET_DATETIME_RANGE()

group by
    #if(${roamingobject} == $ApplicationConstants.TYPE_ROAMING_COUNTRY)
        COUNTRY
    #elseif(${roamingobject} == $ApplicationConstants.TYPE_ROAMING_OPERATOR)
        OPERATOR
    #end