##=============================================================================
##
## Event Analysis: Percentage ratio/KPI drilldown
##
## Description: 
##
## Velocity Parameters:
##
## type : SGSN
##
## drilltype : one of {SGSN, BSC, CELL}
##
##
## Named Prepared Statement Parameters:
##
##    :dateFrom starting time
##    :dateTo ending time
##    :$ApplicationConstants.EVENT_ID
##    :$SGSN
##    :$BSC
##    :$RAT
##    :$VENDOR
##    :$CELL
##
##=============================================================================

#DEFINE_CONSTANTS()

#if(${drilltype} == $TYPE_SGSN )
    #set($columns=[$RAT,$VENDOR,$BSC])
	#set($columnsToSelectErrorRAW=[$RAT,$VENDOR,$BSC, $IMSI])
	#set($columnsToSelectAsResult=":$SGSN as SYS_COL_$SGSN, KPI_RATIO_RESULT.RAT, VENDOR, HIERARCHY_3, RAT_DESC,:$ApplicationConstants.EVENT_ID_PARAM as  SYS_COL_$EVENT_ID, EVENT_ID_DESC, NO_OF_ERRORS, NO_OF_SUCCESSES, OCCURRENCES, KPI, NO_OF_TOTAL_ERR_SUBSCRIBERS")
	#set($conditionToSelectErrorRAW="and ${EVENT_ID} = :$ApplicationConstants.EVENT_ID_PARAM and $SGSN = :$SGSN")
	#set($agg_t_SGEH="EVENT_E_SGEH_APN_EVENTID_EVNTSRC_VEND_HIER3")
    #set($agg_t_LTE="EVENT_E_LTE_APN_EVENTID_EVNTSRC_VEND_HIER3")
	#set($ccscc=false)
	#set($useRawSuc=false)
	#set($protjoin=false)
#elseif(${drilltype} == $TYPE_BSC)
    #set($columns=[$CELL])
	#set($columnsToSelectErrorRAW=[$CELL, $IMSI])
	#set($columnsToSelectAsResult=":$SGSN, :$RAT, :$VENDOR, :$BSC, HIERARCHY_1, RAT_DESC, :$ApplicationConstants.EVENT_ID_PARAM, EVENT_ID_DESC, NO_OF_ERRORS, NO_OF_SUCCESSES, OCCURRENCES, KPI, NO_OF_TOTAL_ERR_SUBSCRIBERS")
	#set($conditionToSelectErrorRAW="and $EVENT_ID = :$ApplicationConstants.EVENT_ID_PARAM and $SGSN = :$SGSN and $BSC = :$BSC and $RAT = :$RAT and $VENDOR = :$VENDOR")
    #set($agg_t_SGEH="EVENT_E_SGEH_VEND_HIER321_EVENTID")
    #set($agg_t_LTE="EVENT_E_LTE_VEND_HIER321_EVENTID")
	#set($ccscc=false)
	#set($useRawSuc=true)
	#set($protjoin=false)
#elseif(${drilltype} == $TYPE_CELL)
    #set($columns=[$CAUSE_CODE, $CAUSE_PROT_TYPE, $SUBCAUSE_CODE])
	#set($columnsToSelectErrorRAW=[$CAUSE_CODE, $CAUSE_PROT_TYPE, $SUBCAUSE_CODE, $IMSI])
	##set($columnsToSelectAsResult=":$SGSN, :$RAT, :$VENDOR, :$BSC, :$CELL, CAUSE_CODE_DESC, SUBCAUSE_CODE_DESC, RAT_DESC, :$ApplicationConstants.EVENT_ID_PARAM, EVENT_ID_DESC, NO_OF_ERRORS, NO_OF_TOTAL_ERR_SUBSCRIBERS")
    #set($columnsToSelectAsResult=":$SGSN as SYS_COL_$SGSN, :$RAT, :$VENDOR as SYS_COL_$VENDOR , :$BSC as SYS_COL_$BSC, :$CELL as SYS_COL_$CELL , CAUSE_CODE as SYS_COL_CAUSE_CODE, SUBCAUSE_CODE as SYS_COL_SUBCAUSE_CODE, CAUSE_PROT_TYPE as SYS_COL_CAUSE_PROT_TYPE, CAUSE_CODE_DESC, SUBCAUSE_CODE_DESC, RAT_DESC, :$ApplicationConstants.EVENT_ID_PARAM as SYS_COL_$ApplicationConstants.EVENT_ID_PARAM, EVENT_ID_DESC, NO_OF_ERRORS, NO_OF_TOTAL_ERR_SUBSCRIBERS")
    #set($conditionToSelectErrorRAW="and $EVENT_ID = :$ApplicationConstants.EVENT_ID_PARAM and $SGSN = :$SGSN and $BSC = :$BSC and $RAT = :$RAT and $VENDOR = :$VENDOR and $CELL = :$CELL")
	#set($ccscc=true)
	#set($useRawSuc=false)
	#set($protjoin=true)
#end

#set ($sucviewSGEH="${agg_t_SGEH}_SUC$sucTimerange")
#set ($sucviewLTE="${agg_t_LTE}_SUC$sucTimerange")
#set ($useExclusiveTAC="no")

SELECT
 #if($count > 0)
	  top $count
 #end 
$columnsToSelectAsResult 
FROM (
	#KPI_RATIO_QUERY_FOR_DATA_TIERED_WITH_TAC($columns $ApplicationConstants.SGEH $sucviewSGEH $techPackTablesSGEH.getErrTables() $techPackTablesSGEH.getSucTables() $useRawSuc $ccscc $useExclusiveTAC $protjoin)
	#if($techPackTablesLTE.getErrTables().size() > 0)
		union all
	#KPI_RATIO_QUERY_FOR_DATA_TIERED_WITH_TAC($columns $ApplicationConstants.LTE $sucviewLTE $techPackTablesLTE.getErrTables() $techPackTablesLTE.getSucTables() $useRawSuc $ccscc $useExclusiveTAC $protjoin)
	#end
	) as KPI_RATIO_RESULT
	,DIM_E_SGEH_RAT ratref
WHERE
	#if(${drilltype} == $TYPE_SGSN )
	KPI_RATIO_RESULT.RAT = ratref.RAT
	#else
	ratref.RAT = :$RAT
	#end
ORDER BY
#if($ccscc)
NO_OF_ERRORS
#else
KPI
#end 