##
## Device Analysis - Most popular device groups
##
## Description:
##
##     Get the most popular device groups based on the total events
##
##  See http://atrclin2.athtem.eei.ericsson.se/wiki/index.php/ENIQ_Events_Services_Design_Rules for the design rules
## on exclusive TAC handling that apply to this query
##
## Velocity Parameter:
##
## AGGREGATION_TABLES : a TechPackTables object containing the Aggregation views applicable for time range
## RAW_TABLES : a TechPackTables object containing the Raw tables applicable for this time range
## useAggregationTables : a boolean indicating whether to use the aggregation tables or raw tables 
## for error/success part of the query##
## count : number of the top<> most popular device types/device groups
##
## Named PreparedStatement Parameter:
##
##    :dateFrom - starting time
##    :dateTo - ending time
##

#DEFINE_CONSTANTS()
#set($columnsToSelectForNoOfErrorsOrSuccesses=["TAC"])
#set($columnsToSelectForNoOfErrSubs=["IMSI"])
#set($exclusiveTacGroup=$ApplicationConstants.EXCLUSIVE_TAC_GROUP_NAME)

#macro (CALCULATE_SUM_FOR_GROUPS_IN_AGGREGATION_VIEW $view $columnToSum)
    select
        GROUP_NAME,
        sum($columnToSum) as "NO_OF_EVENTS"
    from
        $view temp
        ,dc.GROUP_TYPE_E_TAC tacgroup
    where
        temp.TAC = tacgroup.TAC
        #AND_DATETIME_RANGE()
        AND tacgroup.GROUP_NAME <> '$exclusiveTacGroup'
    group by
        GROUP_NAME
#end

#macro (FIND_COLUMNS_FROM_RAW_TABLE_WHERE_TAC_IS_IN_A_TAC_GROUP $rawtables $rawview $columnsToIncludeInResult)
    (
    #foreach ($rawtable in $rawtables)
        select
            tacgroup.GROUP_NAME,
            #foreach ($columnToInclude in $columnsToIncludeInResult)
                rawTable.$columnToInclude
                #if($velocityCount < $columnsToIncludeInResult.size())
                        ,
                #end
            #end
        from 
            dc.$rawtable as rawTable,
            dc.GROUP_TYPE_E_TAC tacgroup
        where
            rawTable.TAC = tacgroup.TAC AND
            #if ($timerange == "TR_4")
                #GET_DATE_RANGE_LOCAL()
            #else
                #GET_DATETIME_RANGE()
            #end
            AND tacgroup.GROUP_NAME <> '$exclusiveTacGroup'
            #if($velocityCount < $rawtables.size())
                    union all
            #end
    #end
    ) as $rawview
#end

#macro (FIND_ERR_SUBSCRIBERS_FROM_RAW_TABLE_WHERE_TAC_IS_IN_A_TAC_GROUP $rawtables $rawview $columnsToIncludeInResult)
    (
    #foreach ($rawtable in $rawtables)
        select
            tacgroup.GROUP_NAME,
            #foreach ($columnToInclude in $columnsToIncludeInResult)
                rawTable.$columnToInclude
                #if($velocityCount < $columnsToIncludeInResult.size())
                        ,
                #end
            #end
        from
            dc.$rawtable as rawTable,
            dc.GROUP_TYPE_E_TAC tacgroup
        where
            rawTable.TAC = tacgroup.TAC AND
            #if ($timerange=="TR_4")
                #GET_DATE_RANGE_LOCAL()
            #else
                #GET_DATETIME_RANGE()
            #end
            AND tacgroup.GROUP_NAME <> '$exclusiveTacGroup'
            group by
            #foreach ($columnToInclude in $columnsToIncludeInResult)
                rawTable.$columnToInclude,
            #end
            tacgroup.GROUP_NAME
            #if($velocityCount < $rawtables.size())
                    union all
            #end
    #end
    ) as $rawview
#end

select
    #if($count > 0)
        top $count
    #end
    rank() over (order by NO_OF_EVENTS desc) as RANK,
    isnull(total.GROUP_NAME, subscribers.GROUP_NAME) as GROUP_NAME,
    sum(isnull(total.NO_OF_EVENTS, 0)) as NO_OF_EVENTS,
    isnull(max(subscribers.NO_OF_TOTAL_ERR_SUBSCRIBERS),0) as NO_OF_TOTAL_ERR_SUBSCRIBERS
from
(
#if($useAggregationTables)
    #foreach ($aggView in $AGGREGATION_TABLES.getErrTables())
        #CALCULATE_SUM_FOR_GROUPS_IN_AGGREGATION_VIEW($aggView "NO_OF_ERRORS")
        #if($velocityCount < $AGGREGATION_TABLES.getSucTables().size())
            union all
        #end
    #end
#else
    select
        GROUP_NAME,
        count(*) as NO_OF_EVENTS
    from
        #FIND_COLUMNS_FROM_RAW_TABLE_WHERE_TAC_IS_IN_A_TAC_GROUP($RAW_TABLES.getErrTables() "temp_err" $columnsToSelectForNoOfErrorsOrSuccesses)
    group by
        GROUP_NAME
#end
union all
#if($useAggregationTables)
    select
        tmp.GROUP_NAME,
        sum(tmp.NO_OF_EVENTS) as TOTAL_NO_OF_EVENTS
    from   (
        #foreach ($aggView in $AGGREGATION_TABLES.getSucTables())
            #CALCULATE_SUM_FOR_GROUPS_IN_AGGREGATION_VIEW($aggView "NO_OF_SUCCESSES")
            #if($velocityCount < $AGGREGATION_TABLES.getSucTables().size())
                union all
            #end
        #end
    ) as tmp
    where
        NO_OF_EVENTS is not null
    GROUP BY
        GROUP_NAME
#else
    select
        GROUP_NAME,
        count(*) as NO_OF_EVENTS
    from
        #FIND_COLUMNS_FROM_RAW_TABLE_WHERE_TAC_IS_IN_A_TAC_GROUP($RAW_TABLES.getSucTables() "suc" $columnsToSelectForNoOfErrorsOrSuccesses)
    group by
        GROUP_NAME
#end
) as total(GROUP_NAME, NO_OF_EVENTS)
full outer join
(select
    GROUP_NAME,
    count(distinct(IMSI))
from
    #FIND_ERR_SUBSCRIBERS_FROM_RAW_TABLE_WHERE_TAC_IS_IN_A_TAC_GROUP($RAW_TABLES.getErrTables() "rawview" $columnsToSelectForNoOfErrSubs)
group by
    GROUP_NAME
)as subscribers(GROUP_NAME,NO_OF_TOTAL_ERR_SUBSCRIBERS)
on(total.GROUP_NAME = subscribers.GROUP_NAME)
group by
    GROUP_NAME
order by
    RANK