## Device Analysis - device groups highest data volume view
##
## Description: 
##     Get the nominated or most popular device groups for highest data volume (order by total data vol)
##
## Scenarios:
##  Highest datavol group summary

#DEFINE_CONSTANTS()
#set($isgroup=true)
#set($isGroupDrilldown=false)
#set($tpUnit = 1048576)
select
    #if($count > 0)
      top $count
    #end
    rank() over (order by TOTAL_DATAVOL desc) as RANK,
     GROUP_NAME,
    convert(numeric(16,2), SUM(isnull(convert(numeric(16,2), a.DATAVOL_DL), 0)/$tpUnit)) as TOTAL_DATAVOL_DL,
    convert(numeric(16,2), SUM(isnull(convert(numeric(16,2), a.DATAVOL_UL), 0)/$tpUnit)) as TOTAL_DATAVOL_UL,
    TOTAL_DATAVOL_DL+TOTAL_DATAVOL_UL as TOTAL_DATAVOL
from
    #SUM_TAC_DATAVOLS($useAggregationTables $DTPUT_AGGREGATION_TABLES $rawDtputTables $isgroup $isGroupDrilldown)as a(GROUP_NAME, DATAVOL_UL,DATAVOL_DL)
    where 
        GROUP_NAME <> 'EXCLUSIVE_TAC'
group by
    GROUP_NAME
order by
    RANK

